@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&family=Saira:wght@400;600&display=swap');
body {
    background-color: #242323;
    overflow-y: hidden;
}
main {
    background: linear-gradient(180deg, #000 10%, #252020 20%, #241a1a 30%, #311a1a 40%, #9d0000 60%, #311a1a 70%, #241a1a 80%, #252020 90%, #000 100%);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    position: relative;
    min-height: 690px;
    margin-bottom: 10px;
}
.acceso-directo {
    position: absolute;
    top: 10px;
    left: 30px;
}
.acceso-directo a {
    text-decoration: none;
    color: #fff;
    font-family: 'Saira', sans-serif;
    transition: 0.3s ease;
    display: inline-block;
}
.acceso-directo a:hover {
    transform: scale(1.05);
}
h1 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.foto-coche {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foto-coche img {
    object-fit: contain;
    width: 1000px;
}
.nombre-modelo {
    position: absolute;
    top: -130px;
    left: 220px;
    font-size: 160px;
    color: #f30505;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
}
.nombre-modelo-completo {
    position: absolute;
    bottom: 60px;
    left: 33%;
    font-size: 40px;
    color: #f30505;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
}
.parrafo-corto {
    position: absolute;
    bottom: 30px;
    left: 37%;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #ffffff7e;
}
.estadisticas {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}
.estadisticas h3 {
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
.estadisticas p {
    font-family: 'Saira', sans-serif;
    font-size: 10px;
    color: #fff;
    margin-bottom: 5px;
}
/*////////////963//////////////////*/
.nombre-modelo-963 {
    position: absolute;
    top: -130px;
    left: 330px;
    font-size: 160px;
    color: #f30505;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
}