@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&family=Saira:wght@400;600&display=swap');

body {
    background-color: #f89257;
    margin: 0;
    padding: 0;
}
main {
    background: linear-gradient(135deg, #e57545 10%, #e6632a 20%, #ca4a13 30%, #8b2b02 40%, #da5b24 60%, #cb0c0c 70%, #8b2b02 90%, #8f0000 100%);
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    min-height: 850px; /* Altura perfecta para que encaje todo sin salirse */
    box-shadow: 0 10px 30px rgba(249, 3, 3, 0.50);
    margin-bottom: 80px;
}
/*//////////////////////HEADER///////////////////*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-span-header {
    display: flex;
    gap: 15px;
    margin-left: 20px;
    align-items: center;
}

.logo-span-header img {
    object-fit: contain;
    width: 50px;
}

.logo-span-header span {
    font-size: 35px;
    font-weight: 700;
}

.nav-rapida {
    display: flex;
    gap: 20px;
    margin-right: 80px;
    align-items: center;
}

.nav-rapida a {
    text-decoration: none;
    color: #98140b;
    font-weight: 600;
    font-size: 18px;
}

.active {
    text-decoration: underline !important;
}

/*/////////////////////MAIN HOME/////////////////*/

/* 1. TÍTULO PRINCIPAL */
.h1-home {
    position: absolute;
    top: 60px;
    left: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #111010;
    width: fit-content;
    margin: 0;
}

.h1-home h1 {
    margin: 0;
    line-height: 1;
    font-size: 70px;
}

/* 2. TEXTO DE INTRODUCCIÓN */
.p-intro-home {
    position: absolute;
    top: 240px;
    left: 40px;
    max-width: 550px; 
    font-weight: 600;
    font-family: 'Saira', sans-serif;
    color: #111010;
}

/* 3. LOGO DE LA DERECHA */
.logo-main-home img {
    object-fit: contain;
    width: 300px;
    position: absolute;
    right: 50px;
    top: 40px;
}

/* 4. COCHES (Congelados en coordenadas fijas) */
.gt3-r {
    position: absolute;
    left: 20px;
    top: 450px;
    transform: scale(0.75);
    z-index: 1;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.25));
}

.gt3-rs {
    position: absolute;
    left: 160px;
    top: 430px;
    transform: scale(0.88);
    z-index: 2;
    filter: drop-shadow(0 12px 12px rgba(0,0,0,0.3)); 
}

.porsche-963 {
    position: absolute;
    left: 320px;
    top: 410px;
    transform: scale(1);
    z-index: 3;
    filter: drop-shadow(0 18px 15px rgba(0,0,0,0.5));
}

/* 5. BOTÓN EXPLORAR MODELOS */
.explore-models-home {
    border: 2px solid #8f0000;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(135, 0, 0, 0.5);
    padding: 20px 30px;
    position: absolute;
    background-color: #6e0000;
    right: 80px;
    bottom: 140px;
}

.explore-models-home a {
    display: inline-block;
    color: #e0f2fe;
    font-size: 22px;
    font-family: 'Saira', cursive, sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
}

.explore-models-home a:hover {
    transform: scale(1.05);
}
/*///////////////////////////////GARAGE////////////////////////////////*/
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #111010;
}
.models {
    display: flex;
    flex-direction: column;
}
.models-fila1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.model#gt3r {
    margin-right: 20px;
}
.models-fila2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.model {
    border: 4px solid #6e0000;
    border-radius: 8px;
    width: 50%;
    position: relative;
    margin-left: 20px;
}
.model p {
    font-family: 'Saira'cursive, sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
.model h2 {
    font-size: 40px;
    text-align: center;
}
.model img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 500px;
    height: auto;
}
.model a {
    text-decoration: none;
    color: #e0f2fe;
    border: 2px solid #8f0000;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(135, 0, 0, 0.5);
    padding: 20px;
    background-color: #6e0000;
    display: inline-block;
    font-family: 'Saira'cursive, sans-serif;
    transition: 0.3s ease;
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.model a:hover {
    transform: scale(1.05);
}
/*/////////////////////////////////////////TEAMS//////////////////////////////////*/
.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding-bottom: 20px;
}
.team {
    border: 4px solid #6e0000;
    border-radius: 8px;
    width: 500px;
    position: relative;
}
.team a {
    text-decoration: none;
    color: #e0f2fe;
    border: 2px solid #8f0000;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(135, 0, 0, 0.5);
    padding: 20px;
    background-color: #6e0000;
    display: inline-block;
    font-family: 'Saira'cursive, sans-serif;
    transition: 0.3s ease;
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.team a:hover {
    transform: scale(1.05);
}
.team h2 {
    font-size: 40px;
    text-align: center;
}
#coche-team {
    object-fit: contain;
    width: 240px;
}
#logo-team {
    object-fit: contain;
    width: 140px;
}
.imagenes-teams {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: center;
}
.teams h2 {
    font-size: 40px;
    text-align: center;
}
.teams p {
    font-family: 'Saira'cursive, sans-serif;
    font-size: 18px;
    padding-left: 20px;
}
.teams h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
    padding-left: 20px;
}
/*/////////////////////////////////////////////SHOP/////////////////////////////*/
.hero-product {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 350px;
    border: 3px solid #111010;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.foto-producto {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.hero-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.featured, .oficial-apparel {
    transform: translateY(20px);
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}
.foto-producto img {
    transform: translateY(20px);
    display: block;
    height: auto;
    object-fit: contain;
    width: 300px;
}
.hero-info p {
    font-size: 18px;
    padding-right: 15px;
}
.hero-purchase {
    transform: translateY(20px);
    font-size: 25px;
} 
.btn-hero {
    background-color: #6e0000;
    border:2px solid #8f0000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(135, 0, 0, 0.5);
    margin-left: 10px;
    display: inline-block;
    transition: 0.3s ease;
    color: #e0f2fe;
}
.btn-hero:hover {
    transform: scale(1.05);
}
.hero-info h2 {
    transform: translateY(10px);
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    padding-right: 15px;
}
.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #111010;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.card-img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.card-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.card-category {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
.product-card h3 {
    font-family: 'Saira', cursive, sans-serif;
}
.btn-card-cart {
     background-color: #6e0000;
     border:2px solid #8f0000;
     border-radius: 15px;
     padding: 20px;
     box-shadow: 0 10px 30px rgba(135, 0, 0, 0.5);
     margin-left: 10px;
     display: inline-block;
     transition: 0.3s ease;
     color: #e0f2fe;
}
.btn-card-cart:hover {
    transform: scale(1.05);
}